@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qtq54r');
  src:  url('fonts/icomoon.eot?qtq54r#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qtq54r') format('truetype'),
    url('fonts/icomoon.woff?qtq54r') format('woff'),
    url('fonts/icomoon.svg?qtq54r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-download:before {
  content: "\e90e";
  color: #344455;
}
.icon-pointer-double:before {
  content: "\e90f";
  color: #344455;
}
.icon-close2:before {
  content: "\e90d";
  color: #344455;
}
.icon-user5:before {
  content: "\e909";
  color: #344455;
}
.icon-add:before {
  content: "\e90a";
  color: #344455;
}
.icon-dash:before {
  content: "\e90b";
  color: #344455;
}
.icon-menu2:before {
  content: "\e90c";
  color: #344455;
}
.icon-linkedin:before {
  content: "\eaca";
}
.icon-cloud-download:before {
  content: "\e800";
}
.icon-menu:before {
  content: "\e600";
}
.icon-bubble:before {
  content: "\e61f";
}
.icon-checkmark:before {
  content: "\e602";
}
.icon-google-plus:before {
  content: "\e603";
}
.icon-share:before {
  content: "\e604";
}
.icon-feed:before {
  content: "\e605";
}
.icon-twitter:before {
  content: "\e606";
}
.icon-facebook:before {
  content: "\e607";
}
.icon-bullhorn:before {
  content: "\e61b";
}
.icon-file-pdf:before {
  content: "\e608";
}
.icon-bell:before {
  content: "\e61c";
}
.icon-connection:before {
  content: "\e609";
}
.icon-flag:before {
  content: "\e61d";
}
.icon-user:before {
  content: "\e60a";
}
.icon-phone:before {
  content: "\e60b";
}
.icon-play:before {
  content: "\e60c";
}
.icon-play2:before {
  content: "\e60d";
}
.icon-close:before {
  content: "\e622";
}
.icon-info:before {
  content: "\e601";
}
.icon-checkmark-circle:before {
  content: "\e60e";
}
.icon-cancel-circle:before {
  content: "\e60f";
}
.icon-file-zip:before {
  content: "\e610";
}
.icon-file-powerpoint:before {
  content: "\e611";
}
.icon-file-xml:before {
  content: "\e612";
}
.icon-file-css:before {
  content: "\e613";
}
.icon-file-word:before {
  content: "\e614";
}
.icon-file-excel:before {
  content: "\e615";
}
.icon-image:before {
  content: "\e616";
}
.icon-gift:before {
  content: "\e617";
}
.icon-history:before {
  content: "\e618";
}
.icon-clock:before {
  content: "\e619";
}
.icon-user2:before {
  content: "\e61a";
}
.icon-file:before {
  content: "\e61e";
}
.icon-bubbles:before {
  content: "\e620";
}
.icon-search:before {
  content: "\e621";
}
.icon-pencil:before {
  content: "\e623";
}
.icon-pencil2:before {
  content: "\e627";
}
.icon-key:before {
  content: "\e628";
}
.icon-key2:before {
  content: "\e629";
}
.icon-cog:before {
  content: "\e624";
}
.icon-cogs:before {
  content: "\e625";
}
.icon-cog2:before {
  content: "\e626";
}
.icon-file-powerpoint2:before {
  content: "\e62a";
}
.icon-key3:before {
  content: "\e62b";
}
.icon-key4:before {
  content: "\e62c";
}
.icon-lock:before {
  content: "\e62d";
}
.icon-lock2:before {
  content: "\e62e";
}
.icon-unlocked:before {
  content: "\e62f";
}
.icon-settings:before {
  content: "\e630";
}
.icon-equalizer:before {
  content: "\e631";
}
.icon-newtab:before {
  content: "\e632";
}
.icon-bullhorn2:before {
  content: "\e635";
}
.icon-copy:before {
  content: "\e633";
}
.icon-stopwatch:before {
  content: "\e634";
}
.icon-box-add:before {
  content: "\e636";
}
.icon-redo:before {
  content: "\e637";
}
.icon-user3:before {
  content: "\e638";
}
.icon-users:before {
  content: "\e639";
}
.icon-info2:before {
  content: "\e63a";
}
.icon-user4:before {
  content: "\e900";
}
.icon-users2:before {
  content: "\e901";
}
.icon-user-plus:before {
  content: "\e902";
}
.icon-user-minus:before {
  content: "\e903";
}
.icon-user-check:before {
  content: "\e904";
}
.icon-quotes-left:before {
  content: "\e905";
}
.icon-quotes-right:before {
  content: "\e906";
}
.icon-sphere:before {
  content: "\e907";
}
.icon-earth:before {
  content: "\e908";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-print:before {
  content: "\f02f";
}
.icon-eye:before {
  content: "\f06e";
}
.icon-eye-slash:before {
  content: "\f070";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-home:before {
  content: "\f015";
}
.icon-cloud:before {
  content: "\f0c2";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-long-arrow-down:before {
  content: "\f175";
}
.icon-long-arrow-up:before {
  content: "\f176";
}
.icon-long-arrow-left:before {
  content: "\f177";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
